@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #EDE7E6, #A9B4AF, #637D71);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #555a5880;
    width: 1500px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #637D71;
    text-align: center;
}

h2{
    color: #6E5956;
}

p {
    text-align: justify;
}